// Template Colors
// $primary: #d45555;
// $secondary: #FEFFFC;
//
// $brown: #223741;
// $darkNavText: #d5d5d5;
// $lightGray: #999898;
// $darkGray: #727070;
//
//
//
// $black: #111;
// $white: #fff;
// $base: #fafafa;


$primary: #4FD5D6;
$secondary: #FEFFFC;

$brown: #223741;

$heath: #400D12;
$viking: #4FD5D6;
$red: #ff0000;
$babyblue: #CDFFFF;

$darkNavText: #d5d5d5;
$lightGray: #999898;
$darkGray: #727070;

$black: #111;
$white: #fff;
$base: #fafafa;
