#gallery-page {
  .gallery-item {
    display: block;
    border: 1px solid #eee;
    margin: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 2px rgba($black, 0.1);
    transition: all 0.2s ease-in;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    position: relative;

    img {
      width: 100%;
    }

    .overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      background: rgba($brand-primary, 0.8);
      overflow: hidden;
      width: 100%;
      height: 0%;
      opacity: 0;
      transition: all 0.3s ease-in;

      h5 {
        color: #fff;
        text-align: center;
        margin-top: 45%;
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
        height: 100%;
      }
    }


    &:hover {
      border-color: rgba($primary, 0.5);
      box-shadow: 0 0 5px rgba($black, 0.15);
    }
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
