

#index-video {

  #feature-split-image {
    img {
      position: relative;
      top: 40px;
    }
  }

  .video-section {
    position: relative;
    min-height: 510px;
    background: #000;

    .YTPOverlay {
      background: url("../images/pattern-overlay.png");
    }

    h2 {
      padding: 30px 0 30px 0;
      font-size: 4em;
      letter-spacing: 0.5px;
      color: #fff;
      margin: 0 auto;
      position: relative;
      z-index: 80;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    }



    .subtitle {
      font-size: 1.8em;
      padding-top: 10px;
      font-weight: 300;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
      color: #eee;

      @media(max-width: 991px) {
        font-size: 1.2em;
      }
    }

    .slider-image {
      padding: 60px 0;
    }

    .cta {
      padding: 20px 60px;
      font-size: 2em;
    }

    .or {
      color: #eee;
      display: inline-block;
      margin-left: 20px;
    }

    .cta-wrapper {
      margin-top: 30px;
    }

    .btn-link {
      color: #fff;
    }
  }

  .video-section .buttonBar{display:none;}
  .player {font-size: 1px;}


  #horizontal-features {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .feature-square-list {
    margin-bottom: 80px;
  }

  #feature-boxed {
    background: $brown;
    color: $lightGray;
    padding: 80px 0;

    h2, h5 {
      color: #fff;
    }

    i.feature-icon {
      font-size: 3em;
    }

    .feature-item {
      margin-bottom: 30px;
    }

    .btn.btn-dark {
      margin-bottom: 10px;
      padding: 20px 40px;
      font-size: 1.4em;
    }

  }
}
