#sidebar-page {
  overflow: hidden;
  .main-content {
    padding: 0 20px;
    border-right: 1px solid $md-grey-200;
    @media(max-width: $screen-sm-max) {
      border-right: none;
    }
  }
}
