/ SEARCH
%meta{:content => "", :name => "author"}/
%meta{:content => "", :name => "description"}/
/ TWITTER
%meta{:content => "", :name => "twitter:card"}/
%meta{:content => "", :name => "twitter:site"}/
%meta{:content => "", :name => "twitter:creator"}/
%meta{:content => "", :name => "twitter:title"}/
%meta{:content => "", :name => "twitter:description"}/
%meta{:content => "", :name => "twitter:image:src"}/
/ FACEBOOK
%meta{:content => "", :property => "og:site_name"}/
%meta{:content => "", :property => "og:url"}/
%meta{:content => "", :property => "og:type"}/
%meta{:content => "", :property => "og:title"}/
%meta{:content => "", :property => "og:description"}/
%meta{:content => "", :property => "og:image"}/
%meta{:content => "", :property => "fb:app_id"}/
%meta{:content => "", :property => "fb:admins"}/
/ G+
%meta{:content => "", :itemprop => "name"}/
%meta{:content => "", :itemprop => "description"}/
%meta{:content => "", :itemprop => "image"}/
