.sidebar-widget
  .notepaper
    .note
      .text
        %h3.text-center
          %i.fa.fa-rss
          Subscribe to our Feed
        %p
          Latest news, product updates, helpful articles and much more. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, maiores vitae eveniet magni. Molestiae, neque.
        %form
          .form-group
            %input.form-control{:placeholder => "Your email", :type => "text"}/
          .text-right.actions
            %a.btn.btn-danger{:href => "#"}
              %i.fa.fa-check-square
              Subscribe
