.sidebar-widget
  .additional-header
    %h3
      Search
  %p.help-block.text-muted
    Type your search term and hit enter
  %form{:role => "search"}
    %input.form-control.search-field{:placeholder => "Search..", :type => "search"}/
