.row
  .col-md-4.feature-item
    %i.fa.fa-picture-o.feature-icon
    .text
      %h5 Beauifully Designed Pages
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, reprehenderit, doloribus corporis necessitatibus ut sint voluptates id excepturi laborum.
  .col-md-4.feature-item
    %i.fa.fa-eye.feature-icon
    .text
      %h5 Easily Customizable
      %p Voluptatibus impedit obcaecati incidunt aliquid molestias voluptate fugiat excepturi accusantium quibusdam dolore beatae quidem vero voluptates a quasi.
  .col-md-4.feature-item
    %i.fa.fa-mobile-phone.feature-icon
    .text
      %h5 Works well on mobile &amp; tablets
      %p Necessitatibus, nemo aliquid. Nihil, ullam consequatur ipsa placeat.Explicabo perspiciatis voluptates quam quia aliquid at rem nulla omnis sit.
.row
  .col-md-4.feature-item
    %i.fa.fa-signal.feature-icon
    .text
      %h5 Analytics
      %p Laboriosam quod aperiam blanditiis ratione odit officiis deserunt quas mollitia totam similique!
  .col-md-4.feature-item
    %i.fa.fa-clock-o.feature-icon
    .text
      %h5 Blog and Coming Soon pages included
      %p Rem, dolorem, magni aspernatur delectus nihil reiciendis temporibus ipsum rerum iusto placeat vero.
  .col-md-4.feature-item
    %i.fa.fa-flask.feature-icon
    .text
      %h5 Bright, cheerful colors
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, earum, dolorum iste ut sed dolor!
