%section.bottom-cta
  .container
    .row
      .col-md-8
        .additional-header
          %h3 Still not convinced?
        %p Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        %blockquote
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, officiis, ea, quidem, perferendis debitis quo neque dicta nisi quod ad laborum vel minima culpa maiores fugiat blanditiis atque harum magni!
      .col-md-4
        .notepaper
          .note
            .text
              %h3.text-center Here's a sticky note to change your mind
              %p.lead
                %i.fa.fa-check
                Multiple pages
                %br/
                %i.fa.fa-check
                Easy Customization
                %br/
                %i.fa.fa-check
                Responsive Design
                %br/
                %i.fa.fa-check
                Bootstrap 3
                %br/
              .text-center
                %a.btn.btn-lg.btn-danger{:href => "#"} Purchase →
