%section#highlight-cta{"data-aos" => "fade-up"}
  .container
    .row
      .col-md-8.col-md-offset-2.text.text-center
        %h2
          Ready to improve your business?
        %p.lead
          You focus on Training. We automate your business and increase course bookings.
        %a.btn.btn-lg.btn-primary.btn-round{"data-target" => "#purchaseModal", "data-toggle" => "modal", href: "#"}
          Try it FREE now
          \→
