%section.full-width-service
  .container
    .row
      .col-md-8.col-md-offset-2.text.text-center
        %h1
          Maybe you'd like to show your services on a nice large background
        %p.lead
          Beer Ipsum is perfect if you're searching for something a little more refreshing
        %p
          Secondary fermentation degrees plato units of bitterness, cask conditioned ale ibu real ale pint glass craft beer. krausen goblet grainy ibu brewhouse lagering finishing hops. Trappist, black malt chocolate malt balthazar gravity dextrin saccharification trappist final gravity
        .text-center.button-wrapper
          %a.btn.btn-primary.btn-lg.btn-round.btn-main-cta{:href => "#"}
            Purchase Now →
          %span.or or
          %a.btn.btn-link{:href => "features.html"} See features page
