#map-container
  #map
    #marker-wrapper
      %svg{:version => "1.1", :viewbox => "0 0 23 21", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        %g#marker{:x => "100px", :y => "100px"}
          %circle.core{:cx => "11.3", :cy => "10.8", :r => "0.5"}
          %circle.ring{:cx => "11.3", :cy => "10.8", :fill => "none", :r => "1", :stroke => "#000000", "stroke-miterlimit" => "1", "stroke-width" => "0.2"}
    %iframe{:frameborder => "0", :height => "400", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3022.944669688224!2d-74.00316699999995!3d40.74124299999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1401691893616", :width => "100%"}
  #address
    .text
      %h2 Get in touch
      %p.lead Drop in for a cup of coffee
      %address
        %strong SuperApp Inc.
        %br/
        121/A, XYZ Street
        %br/
        New York
        %br/
        USA
        %br/
        CT21 5SH
        %br/
        %abbr{:title => "Phone"} Tel:
        456-121-1122
