.logos
  .row
    .col-md-12
      .additional-header
        %h3 Companies that use us
  #logo-slider
    .item
      %img{:src => "/assets/images/company-logos-svg/bosch.svg"}/
    .item
      %img{:src => "/assets/images/company-logos-svg/cisco.svg"}/
    .item
      %img{:src => "/assets/images/company-logos-svg/codeacademy.svg"}/
    .item
      %img{:src => "/assets/images/company-logos-svg/facebook.svg"}/
    .item
      %img{:src => "/assets/images/company-logos-svg/instagram.svg"}/
    .item
      %img{:src => "/assets/images/company-logos-svg/linkedin.svg"}/
    .item
      %img{:src => "/assets/images/company-logos-svg/motorola.svg"}/
    .item
      %img{:src => "/assets/images/company-logos-svg/nokia.svg"}/
    .item
      %img{:src => "/assets/images/company-logos-svg/shopify.svg"}/
    .item
      %img{:src => "/assets/images/company-logos-svg/soundcloud.svg"}/
