%section#testimonial-stats{"data-aos" => "fade-up"}
  .container
    .row
      .col-md-12.text-center
        .heading
          %h2 Used by over 10,000 people across the globe!
          %p.lead Here's what our users say about us &#8594;
    .row
      .col-md-6
        .testimonial{"data-aos" => "fade-up-right"}
          .quote-author
            %img.img-circle{:alt => "testimonial1", :src => "/assets/images/cleancut/avatar1.jpg"}/
            .author-name John Doe
            .author-company Awesome Inc
          .quote-text
            .arrow-left
              .arrow
              .arrow-border
            This is a great template! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, suscipit, tempora laboriosam quam alias dolor placeat mollitia incidunt sit distinctio debitis deleniti soluta aut tenetur odio minus fugit atque quos!
      .col-md-6
        .testimonial{"data-aos" => "fade-up-left"}
          .quote-author
            %img.img-circle{:alt => "testimonial1", :src => "/assets/images/cleancut/avatar2.jpg"}/
            .author-name Jane Doe
            .author-company Foo Biz
          .quote-text
            .arrow-left
              .arrow
              .arrow-border
            This is a great template! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, suscipit, tempora laboriosam quam alias dolor placeat mollitia incidunt sit distinctio debitis deleniti soluta aut tenetur odio minus fugit atque quos!
    .row
      .col-md-6.col-md-offset-3
        .testimonial{"data-aos" => "fade-up"}
          .quote-author
            %img.img-circle{:alt => "testimonial1", :src => "/assets/images/cleancut/avatar3.jpg"}/
            .author-name Jane Doe
            .author-company Foo Biz
          .quote-text
            .arrow-left
              .arrow
              .arrow-border
            This is a great template! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, suscipit, tempora laboriosam quam alias dolor placeat mollitia incidunt sit distinctio debitis deleniti soluta aut tenetur odio minus fugit atque quos!
