.section-header
  .container
    .row
      .col-md-12
        %h2
          Exclusive Features
          %br
            %small
              Here's a list of all the things that our app can do
  #features-page
    %section.main-content
      .container
        #features-split
          .row
            .col-sm-3
              .features-item
                %h4 Responsive Design
                .image.hidden-sm
                  %img.small-img{:alt => "", :src => "/assets/images/circle-icons/full-color/art.png"}
                .text
                  %p
                    Where ignorance lurks, so too do the frontiers of discovery and imagination.
              .features-item
                %h4 Mobile First
                .image.hidden-sm
                  %img.small-img{:alt => "", :src => "/assets/images/circle-icons/full-color/briefcase.png"}
                .text
                  %p
                    To go places and do things that have never been done before – that’s what living is all about.
              .features-item
                %h4 Built with Bootstrap
                .image.hidden-sm
                  %img.small-img.hidden-sm{:alt => "", :src => "/assets/images/circle-icons/full-color/bookshelf.png"}
                .text
                  %p
                    The sky is the limit only for those who aren't afraid to fly!
              .features-item
                %h4 Another feature
                .image.hidden-sm
                  %img.small-img.hidden-sm{:alt => "", :src => "/assets/images/circle-icons/full-color/art.png"}
                .text
                  %p
                    The sky is the limit only for those who aren't afraid to fly!
            #feature-split-image.col-sm-6.hidden-xs
              %img.img-responsive{:alt => "web screenshot", :src => "/assets/images/display/mockup-7.png"}
            .col-sm-3
              .features-item
                %h4 Priority Support
                .image.hidden-sm
                  %img.small-img{:alt => "", :src => "/assets/images/circle-icons/full-color/car.png"}
                .text
                  %p
                    Energies and skills, because that challenge is one that we are willing to accept.
              .features-item
                %h4 Stand out from the crowd
                .image.hidden-sm
                  %img.small-img{:alt => "", :src => "/assets/images/circle-icons/full-color/computer.png"}
                .text
                  %p
                    We’re curious people. Look back over history, people have put their lives at stake.
              .features-item
                %h4 Easy to use
                .image.hidden-sm
                  %img.small-img.hidden-sm{:alt => "", :src => "/assets/images/circle-icons/full-color/check.png"}
                .text
                  %p
                    It suddenly struck me that that tiny pea, pretty and blue, was the Earth
              .features-item
                %h4 Yet Another feature
                .image.hidden-sm
                  %img.small-img.hidden-sm{:alt => "", :src => "/assets/images/circle-icons/full-color/booklet.png"}
                .text
                  %p
                    The sky is the limit only for those who aren't afraid to fly!
#feature-boxed
  .container
    .row
      .col-md-12.text-center
        .heading
          %h2
            Everything you need to launch your SaaS website
            %br
              %small
                StartKit has all the pages you need for your startup.
          %img.main-image.img-responsive{:alt => "", :src => "/assets/images/display/mockup-1.png"}
        = partial "../partials/boxed-features-list.html"
    .row.features-additional-text
      .col-lg-8.col-md-8
        .additional-header
          %h3 Still not convinced?
        %p Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        %blockquote
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, officiis, ea, quidem, perferendis debitis quo neque dicta nisi quod ad laborum vel minima culpa maiores fugiat blanditiis atque harum magni!
      .col-lg-4.col-md-4
        .notepaper
          .note
            .text
              %h3.text-center Here's a sticky note to change your mind
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, maiores vitae eveniet magni. Molestiae, neque.
              %p
                %i.fa.fa-check
                Multiple pages
                %br
                %i.fa.fa-check
                Easy Customization
                %br
                %i.fa.fa-check
                Responsive Design
                %br
                %i.fa.fa-check
                Bootstrap 3
                %br
                .text-center
                  %a.btn.btn-danger{:href => "#"} Purchase
        #full-width-carousel.carousel.slide
          .carousel-inner
            .item.active
              .fill{:style => "background-image:url('/assets/images/bgs/starry.jpg');"}
              .carousel-caption
                .text
                  %h2 Modern  Elegant Web Application
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius soluta eligendi eaque rerum error, reprehenderit, voluptates voluptatem molestias saepe, perferendis iste perspiciatis animi inventore fugiat mollitia sit ut ipsam, maiores.
                  %a.btn.btn-lg.btn-danger.btn-round{:href => "#"}
                    Get Started
            .item
              .fill{:style => "background-image:url('/assets/images/bgs/mist.jpg')"}
              .carousel-caption
                .text
                  %h2 Honest, Affordable Pricing
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius soluta eligendi eaque rerum error, reprehenderit, voluptates voluptatem molestias saepe, perferendis iste perspiciatis animi inventore fugiat mollitia sit ut ipsam, maiores.
                  %a.btn.btn-lg.btn-danger.btn-round{:href => "#"}
                    Get Started
            .item
              .fill{:style => "background-image:url('/assets/images/bgs/sunset.jpeg')"}
              .carousel-caption
                .text
                  %h2 Everything you need, Nothing you don't
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius soluta eligendi eaque rerum error, reprehenderit, voluptates voluptatem molestias saepe, perferendis iste perspiciatis animi inventore fugiat mollitia sit ut ipsam, maiores.
                  %a.btn.btn-lg.btn-danger.btn-round{:href => "#"}
                    Get Started
          %a.left.carousel-control{"data-slide" => "prev", :href => "#full-width-carousel"}
            %span.icon-prev
          %a.right.carousel-control{"data-slide" => "next", :href => "#full-width-carousel"}
            %span.icon-next
