body {
  font-weight: 300;
  overflow-x: hidden;
}

.barba-container {
  position: relative;
}

.section-header {
  background: $white;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $md-grey-300;
  text-align: center;
  h2 {
    margin: 0;
    padding: 0;
  }

  .lead {
    color: $md-grey-500;
  }

  & + .page-content {
    margin-top: 50px;
  }
}


.additional-header {
  border-bottom: 3px solid #eee;
  margin-bottom: 18px;
  h3 {
    padding: 0;
    margin: 0;
    display: inline-block;
    border-bottom: 3px solid $text-color;
    padding-bottom: 10px;
    margin-bottom: -2px;
  }
}

hr.spacer {
  border: none;
  margin: 50px auto;
}


.section-divider {
  border-bottom: 1px solid $md-grey-300;
  margin: 80px auto;
  width: 100%;
}


.search-field {
  border-radius: 50px;
}


#logo-slider {
  .item{
    margin: 3px;
  }
  .item img{
    display: block;
    width: 100%;
    height: auto;
  }
}

// Bug fix
[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: initial;
}

label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
