#about.page
  .section-header
    .container
      .row
        .col-md-12
          %h2
            About StartKit
            %br/
            %small
              Mobile-first &amp; responsive design
  .page-content
    .container
      .row
        .col-sm-8
          .additional-header
            %h3 Our Philosophy
          %p.lead
            We are the best company you have ever seen. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, eum, et asperiores minima delectus ab deleniti tempora aut mollitia molestiae vel dignissimos voluptatibus assumenda dolorem tempore sint quisquam aliquid corporis?
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam voluptatibus velit ratione omnis, reprehenderit quos. Laborum dolore, ratione possimus vel minus, velit ullam non porro obcaecati eveniet nesciunt! Iste, pariatur?
          %blockquote
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, vitae, qui, ullam nihil aperiam inventore non officia vel magni numquam fugiat sit est laboriosam amet et rerum magnam totam illo.
        .col-sm-4
          .widget.widget-cream.about-widget
            .image
              %img.img-responsive.img-thumbnail{:alt => "", :src => "/assets/images/cleancut/party.jpg"}/
            .text
              %h5 At the office party!
              %p Lorem ipsum dolor sit amet, consectetur adipisicing
      .row.stats.animated-counters
        .col-sm-3.stat-item
          %strong#employee-count.counter 25
          Employees
        .col-sm-3.stat-item
          %strong#product-count.counter 12
          Products
        .col-sm-3.stat-item
          %strong#experience-count.counter 672
          Years of Experience
        .col-sm-3.stat-item
          %strong#customer-count.counter 15,000
          Customers
      / stats
    / container
  / page content
  %section#team
    .container
      .row
        .col-sm-12.text-center
          %h2 Our Team
          %p.lead
            Meet the guys who make this happen
      #team-slider.row.owl-carousel
        .item
          %img.img-responsive.member-img{:src => "/assets/images/cleancut/person1.jpg"}/
          %h3
            John Smith
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, natus, facere tenetur maiores iure quos repudiandae commodi veritatis cumque impedit voluptatem est? Velit, dolor, enim nostrum dolore dolorem corporis odio.
          %ul.list-unstyled.list-inline.list-social-icons
            %li.tooltip-social.facebook-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
                %i.fa.fa-facebook-square.fa-2x
            %li.tooltip-social.linkedin-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
                %i.fa.fa-linkedin-square.fa-2x
            %li.tooltip-social.twitter-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
                %i.fa.fa-twitter-square.fa-2x
            %li.tooltip-social.google-plus-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
                %i.fa.fa-google-plus-square.fa-2x
        .item
          %img.img-responsive.member-img{:src => "/assets/images/cleancut/person2.jpg"}/
          %h3
            John Smith
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, dolor facilis omnis ab voluptatem voluptatum blanditiis sapiente voluptatibus illo iste non officiis laudantium. Delectus, beatae repellat illum quasi fugit molestias!
          %ul.list-unstyled.list-inline.list-social-icons
            %li.tooltip-social.facebook-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
                %i.fa.fa-facebook-square.fa-2x
            %li.tooltip-social.linkedin-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
                %i.fa.fa-linkedin-square.fa-2x
            %li.tooltip-social.twitter-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
                %i.fa.fa-twitter-square.fa-2x
            %li.tooltip-social.google-plus-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
                %i.fa.fa-google-plus-square.fa-2x
        .item
          %img.img-responsive.member-img{:src => "/assets/images/cleancut/person3.jpg"}/
          %h3
            John Smith
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, sunt, aspernatur, ad, eum deserunt et maxime hic labore consectetur voluptatem corporis cupiditate animi laboriosam assumenda laudantium dolores neque. Possimus, eum!
          %ul.list-unstyled.list-inline.list-social-icons
            %li.tooltip-social.facebook-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
                %i.fa.fa-facebook-square.fa-2x
            %li.tooltip-social.linkedin-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
                %i.fa.fa-linkedin-square.fa-2x
            %li.tooltip-social.twitter-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
                %i.fa.fa-twitter-square.fa-2x
            %li.tooltip-social.google-plus-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
                %i.fa.fa-google-plus-square.fa-2x
        .item
          %img.img-responsive.member-img{:src => "/assets/images/cleancut/person1.jpg"}/
          %h3
            John Smith
            %small Job Title
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, veniam, perspiciatis, tempore autem nihil earum esse quos nobis cupiditate nulla iste porro optio error laborum consectetur ea eum inventore dicta.
          %ul.list-unstyled.list-inline.list-social-icons
            %li.tooltip-social.facebook-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#facebook-profile", :title => "Facebook"}
                %i.fa.fa-facebook-square.fa-2x
            %li.tooltip-social.linkedin-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#linkedin-profile", :title => "LinkedIn"}
                %i.fa.fa-linkedin-square.fa-2x
            %li.tooltip-social.twitter-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#twitter-profile", :title => "Twitter"}
                %i.fa.fa-twitter-square.fa-2x
            %li.tooltip-social.google-plus-link
              %a{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#google-plus-profile", :title => "Google+"}
                %i.fa.fa-google-plus-square.fa-2x
  %section#office-images
    .container
      .row
        .col-sm-12
          .additional-header
            %h3 Our Office
          #office-slider
            .item
              %img.img-responsive{:alt => "", :src => "/assets/images/cleancut/business1.jpg"}/
            .item
              %img.img-responsive{:alt => "", :src => "/assets/images/cleancut/business2.jpg"}/
            .item
              %img.img-responsive{:alt => "", :src => "/assets/images/cleancut/business3.jpg"}/
  #company-slider
    .container
      .row
        .col-md-12
          = partial "partials/logo-slider.html"
  = partial "partials/horizontal-features.html"
